header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 100;
    font-size: 30px;
    color: #fff;
    background-color: #0F595E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 100px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px; 
    font-size: 18px;
    color: white !important
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white !important;
    width: 100%;
    height: 100%;
}