.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftInfo {
    width: 250px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 3px;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.editButton {
    background-color: #032E46;
    width: 250px;
}

.editProfile {
    font-size: 1rem;
    color: white !important;
    background-color: #032E46;
    width: 150px;
}

.rightInfo {
    width: calc(100% - 265px);
}

.userInfo {
    width: 100%;
    height: 350px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 3px;
}

.titleInfo {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #032E46;
    color: #fff;
    font-size: 18px;
}

.userName {
    font-size: 1.5rem;
    font-weight: 500;
}

input[type='file'] {
    color: transparent;
}

.inputFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.userParam {
    display: flex;
    ;
    width: 100%;
}

.titleParam {
    margin-right: 5px;
    font-weight: 600;
}

.partInfo {
    color: #032E46;
    padding-bottom: 10px;
    margin: 10px 20px 0 20px;
    border-bottom: 2px solid #032E46;
}

.titlePart {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.partInfo a {
    color: #4096FF;
}